In [42]:
# Step 0: 載入套件
import pandas as pd
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt
import seaborn as sns

In [43]:
df=pd.read_csv(r"C:\Users\FM_pc\Desktop\jobs_analysis_project\data\暫時匯出查看.csv")

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   上架日期         590 non-null    int64
 1   申請人數         590 non-null    int64
 2   公司名稱         590 non-null    object
 3   description  590 non-null    object
 4   縣市           590 non-null    object
 5   職稱           590 non-null    object
 6   工作編號         590 non-null    int64
 7   經度           590 non-null    float64
 8   緯度           590 non-null    float64
 9   major        590 non-null    object
 10  學歷要求         590 non-null    object
 11  是否遠距         590 non-null    object
 12  薪資下限         590 non-null    int64
 13  是否積極徵才       590 non-null    int64
 14  員工人數         488 non-null    float64
 15  搜尋關鍵字        590 non-null    object
 16  薪資是否為面議      590 non-null    int64
 17  是否要求特定major  590 non-null    int64
 18  八大產業         590 non-null    object
 19  公司規模         590 non-null    object
 20  工作經驗         590 non-null    object
 21  專長工具         392 non-null    object
dtypes: float64(3), int64(7), object(12)
memory usage: 101.5+ KB

### 做出交叉表

In [45]:
cross_table=pd.crosstab(df['八大產業'],df['薪資是否為面議'])
cross_table

薪資是否為面議    0    1
八大產業
其他         5    8
批發與零售業    17   16
服務與專業顧問業  37   56
製造業       16   74
觀光與餐飲業     3    2
資訊科技業     73  149
運輸與物流業     1    3
醫療與健康照護    7   13
金融與保險業    21   89

### 篩掉違反卡方前提的欄位。(期望值<5)

In [46]:
chi2,p,dof,expected=chi2_contingency(cross_table)
expected

array([[  3.96610169,   9.03389831],
       [ 10.06779661,  22.93220339],
       [ 28.37288136,  64.62711864],
       [ 27.45762712,  62.54237288],
       [  1.52542373,   3.47457627],
       [ 67.72881356, 154.27118644],
       [  1.22033898,   2.77966102],
       [  6.10169492,  13.89830508],
       [ 33.55932203,  76.44067797]])

In [47]:
expected_df=pd.DataFrame(expected,index=cross_table.index,columns=cross_table.columns)
expected_df

薪資是否為面議           0           1
八大產業
其他         3.966102    9.033898
批發與零售業    10.067797   22.932203
服務與專業顧問業  28.372881   64.627119
製造業       27.457627   62.542373
觀光與餐飲業     1.525424    3.474576
資訊科技業     67.728814  154.271186
運輸與物流業     1.220339    2.779661
醫療與健康照護    6.101695   13.898305
金融與保險業    33.559322   76.440678

In [48]:
valid_rows=expected_df.min(axis=1)>=5
filtered_cross_table=cross_table[valid_rows]
filtered_cross_table

薪資是否為面議    0    1
八大產業
批發與零售業    17   16
服務與專業顧問業  37   56
製造業       16   74
資訊科技業     73  149
醫療與健康照護    7   13
金融與保險業    21   89

### 計算卡方值,p值，得出結論

In [ ]:
chi2,p,dof,expected=chi2_contingency(filtered_cross_table)
print(f"卡方值:{chi2}")    #所有 ((觀察值-期望值)**2)/期望值 的加總
print(f"p值:{p}")
print(f"自由度:{dof}")     #(欄個數-1)*(列個數-1)

卡方值:25.213269335559453
p值:0.0001267236168309338
自由度:5