### 0.載入套件

In [15]:
import pandas as pd
from scipy.stats import chi2_contingency
import matplotlib.pyplot as plt
import seaborn as sns

### 1.匯入資料(挑兩個欄位)

In [16]:
df=pd.read_csv(r"C:\Users\FM_pc\Desktop\暫時匯出查看.csv")
df.head()

,上架日期,申請人數,公司名稱,description,縣市,職稱,工作編號,經度,緯度,major,...,薪資下限,是否積極徵才,員工人數,搜尋關鍵字,薪資是否為面議,是否要求特定major,八大產業,公司規模,工作經驗,專長工具
0,20250709,5,今周刊_今周文化事業股份有限公司,1.【必備】Google Analytics技能。 \n2.【必備】熟稔Excel(函數、樞...,台北市,數據分析師【今周刊─數位內容部】,14090732,25.051911,121.526154,[],...,40000,0,217.0,數據分析,1,0,服務與專業顧問業,大型,2年以上,NaN
1,20250715,4,藝珂人事顧問股份有限公司,數據洞察與分析\n分析商品分類、顧客行為、流量來源、轉換率等電商關鍵指標，找出成長機會與潛在...,台北市,[電商] 數據分析主管,14739101,25.040652,121.565297,[],...,40000,0,NaN,數據分析,1,0,服務與專業顧問業,未知,8年以上,NaN
2,20250717,6,錼創顯示科技股份有限公司,1. 分析生產數據與大數據建模，協助建立品質監測與異常偵測模型，提供優化建議。\n2. 參與...,苗栗縣,數據分析工程師,14535114,24.711336,120.913172,"['數理統計相關', '工業工程相關', '其他數學及電算機科學相關']",...,40000,0,500.0,數據分析,1,1,製造業,大型,不拘,NaN
3,20250604,5,國立臺北科技大學,作，成果應用於企業與政府智慧城市專案。加入我們，您將成為城市科學的先鋒，與世界領先的團隊共創...,台北市,MITxTaipei Tech 都市數據分析師,13817654,25.041802,121.534887,[],...,40000,0,NaN,數據分析,1,0,服務與專業顧問業,未知,不拘,NaN
4,20250625,11,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,14079349,25.053372,121.522852,"['一般商業學類', '醫藥工程相關', '數理統計相關']",...,50000,1,20.0,數據分析,0,1,服務與專業顧問業,小型,不拘,"Excel, PowerPoint, Word"

### 2.建立交叉表

In [17]:
table=pd.crosstab(df['八大產業'],df['薪資是否為面議'])
table.drop(index=['觀光與餐飲業','運輸與物流業'],inplace=True)

### 3.做卡方檢定

In [18]:
chi2, p, dof, expected = chi2_contingency(table)

### 4.查看期望值(檢查前提)

In [19]:
print("卡方值 chi2:", chi2)
print("自由度 dof:", dof)
print("p 值:", p)

卡方值 chi2: 25.545091885247945
自由度 dof: 6
p 值: 0.00027054269202646296

### 5.解讀p-value,是否拒絕H0

### 6.視覺化，幫助理解