### 匯入套件

In [ ]:
import pandas as pd
import numpy as np
import os


### 匯入檔案

In [14]:
current_dir = os.getcwd()
input_path=os.path.join(current_dir,r"../../data/104_cleaned_0717.csv")

df=pd.read_csv(input_path)
print(df.head())

   20250714   1 多媒體傳播相關業 杰德創意影音管理股份有限公司  \
0  20250714   6  電腦軟體服務業       不晚科技有限公司
1  20250715   5     停車場業   台灣國際開發事業有限公司
2  20250715   5  廣告行銷公關業   華權數位整合行銷有限公司
3  20250714   3  廣告行銷公關業     創浪行銷顧問有限公司
4  20250714  10  網際網路相關業       盛形通運有限公司

  【負責品牌】 全球LGBTQ+娛樂領導平台 GagaOOLala https://www.gagaoolala.com/en/home  【工作內容】 ●數據分析與報告： 1.管理影音串流OTT平台數據資料，透過資料分析和監測，確保平台營運維持良  \
0  1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...
1  1. 串接各式資料來源，進行資料清洗、分析相關商業命題研究。 2. 深入了解業務需求，並將數...
2  主要工作述敘： 1. 數據分析與精算： ■分析遊戲玩家行為數據、直播主表現數據，協助優化遊戲...
3  數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。  2.消費者洞察: 掌握潛在目...
4  一、工作內容? 業務數據需求分析：研究運送平台等同類型平臺模式，結合臺灣本地業務，梳理司機招...

   台北市   數據分析師  14540514  2  25.0243474  ...           [4, 5, 6]  0    60000  \
0  台北市    數據分析  14325959  0   25.076077  ...              [3, 4]  0        0
1  台中市   數據分析師  13103368  0   24.160552  ...  [1, 2, 3, 4, 5, 6]  0  9999999
2  台中市   數據分析師  14424533  0   24.116516  ...           [4, 5, 6]  0    65000
3  台北市  數據分析經理  14724608  0   25.034500  ...           [4, 5, 6]  0        0
4  台北市  數據分析專員  14604483  0   25.077849  ...           [3, 4, 5]  0    42000

   48000  NULL  [2007001018, 2004001010, 2004001018] 1.1  \
0      0   NaN  [2007001018, 2016001007, 2004001010]   1
1  40000   NaN  [2007001004, 2016001007, 2007001007]   1
2  40000   NaN  [2007001018, 2007001007, 2016001007]   1
3      0   NaN                          [2007001018]   0
4  38000   NaN  [2007001018, 2004001018, 2007001021]   0

  {'acceptRole': {'role': [{'code': 32, 'description': '外籍人士'}], 'disRole': {'needHandicapCompendium': False, 'disability': []}}, 'workExp': '3年以上', 'edu': '大學以上', 'major': [], 'language': [{'code': 1, 'language': '英文', 'ability': {'listening': '中等', 'speaking': '中等', 'reading': '中等', 'writing': '中等'}}], 'localLanguage': [], 'specialty': [{'code': '12001008003', 'description': 'Excel'}, {'code': '12001008016', 'description': 'Word'}, {'code': '12001011002', 'description': 'Google Analytics'}], 'skill': [{'code': '11005004010', 'description': '數據分析'}, {'code': '11005004002', 'description': '市場調查資料分析與報告撰寫'}, {'code': '11005004009', 'description': '市場趨勢分析'}, {'code': '11005004006', 'description': '網站流量成效追蹤'}], 'certificate': [], 'driverLicense': [], 'other': '- 2年以上數據分析相關工作經驗\n- 具獨立作業能力\n- 具團隊合作經驗\n- 具有行銷自動化(MA)平台和實作經驗，尤佳\n- 具有數位廣告平台和廣告活動分析經驗，尤佳\n- 具有會員制、訂閱制服務或影視內容產業經驗，尤佳\n- 具有英語說、寫能力，尤佳'}  \
0  {'acceptRole': {'role': [], 'disRole': {'needH...
1  {'acceptRole': {'role': [{'code': 2, 'descript...
2  {'acceptRole': {'role': [{'code': 2, 'descript...
3  {'acceptRole': {'role': [], 'disRole': {'needH...
4  {'acceptRole': {'role': [{'code': 65536, 'desc...

   {'tag': ['年終獎金', '三節獎金/禮品', '零食櫃', '咖啡吧', '結婚禮金', '員工進修補助', '部門聚餐', '慶生會', '下午茶', '電影觀賞'], 'welfare': '★獎金：\n1.三節獎金\n2.年終績效獎金\n3.鼓勵員工之各項獎勵制度\n★各項補助：\n1.生日蛋糕\n2.喪葬慰問金\n3.教育訓練補助\n4.員工健康檢查\n★各項活動：\n1.春酒/聖誕派對、抽獎\n2.公司/員工聚餐/杰德電影夜等軟性活動\n3.研磨咖啡機、微波爐、電鍋和烤箱等設備，隨時補充的各國零食區、鮮奶、茶飲\n★彈性上下班及午休時間\n★輕鬆歡樂的工作環境、休憩呼吸空間\n\n~正職同仁享有以上福利制度', 'legalTag': ['週休二日', '家庭照顧假', '勞保', '健保', '陪產假', '產假', '特別休假', '女性生理假', '勞退提撥金', '產檢假', '防疫照顧假', '員工體檢', '職災保險']}  \
0  {'tag': ['年終獎金', '三節獎金/禮品', '不扣薪病假', '結婚禮金', '...
1  {'tag': ['員工宿舍', '零食櫃', '咖啡吧', '部門聚餐', '慶生會', ...
2  {'tag': ['年終獎金', '三節獎金/禮品', '零食櫃', '咖啡吧', '部門聚...
3  {'tag': [], 'welfare': '◆工作與生活平衡\n- 彈性工時，不用人擠人...
4  {'tag': [], 'welfare': '全職員工\u200b：勞保、健保、週休二日、...

   暫不提供
0   20人
1  100人
2  暫不提供
3  暫不提供
4   18人

[5 rows x 22 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362 entries, 0 to 361
Data columns (total 22 columns):
 #   Column                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             --------------  -----
 0   20250714                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           362 non-null    int64
 1   1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  362 non-null    int64
 2   多媒體傳播相關業                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           362 non-null    object
 3   杰德創意影音管理股份有限公司                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     362 non-null    object
 4   【負責品牌】 全球LGBTQ+娛樂領導平台 GagaOOLala https://www.gagaoolala.com/en/home  【工作內容】 ●數據分析與報告： 1.管理影音串流OTT平台數據資料，透過資料分析和監測，確保平台營運維持良                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        362 non-null    object
 5   台北市                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                362 non-null    object
 6   數據分析師                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              362 non-null    object
 7   14540514                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           362 non-null    int64
 8   2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  362 non-null    int64
 9   25.0243474                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         362 non-null    float64
 10  121.5483395                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        362 non-null    float64
 11  []                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 362 non-null    object
 12  [4, 5, 6]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          362 non-null    object
 13  0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  362 non-null    int64
 14  60000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              362 non-null    int64
 15  48000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              362 non-null    int64
 16  NULL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               137 non-null    object
 17  [2007001018, 2004001010, 2004001018]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               362 non-null    object
 18  1.1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                362 non-null    int64

In [16]:
df.isnull().sum()

20250714                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0
1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0
多媒體傳播相關業                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0
杰德創意影音管理股份有限公司                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         0
【負責品牌】 全球LGBTQ+娛樂領導平台 GagaOOLala https://www.gagaoolala.com/en/home  【工作內容】 ●數據分析與報告： 1.管理影音串流OTT平台數據資料，透過資料分析和監測，確保平台營運維持良                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0
台北市                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0
數據分析師                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  0
14540514                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               0
2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0
25.0243474                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             0
121.5483395                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            0
[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     0
[4, 5, 6]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              0
0                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0
60000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  0
48000                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  0
NULL                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 225
[2007001018, 2004001010, 2004001018]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0
1.1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    0
{'acceptRole': {'role': [{'code': 32, 'description': '外籍人士'}], 'disRole': {'needHandicapCompendium': False, 'disability': []}}, 'workExp': '3年以上', 'edu': '大學以上', 'major': [], 'language': [{'code': 1, 'language': '英文', 'ability': {'listening': '中等', 'speaking': '中等', 'reading': '中等', 'writing': '中等'}}], 'localLanguage': [], 'specialty': [{'code': '12001008003', 'description': 'Excel'}, {'code': '12001008016', 'description': 'Word'}, {'code': '12001011002', 'description': 'Google Analytics'}], 'skill': [{'code': '11005004010', 'description': '數據分析'}, {'code': '11005004002', 'description': '市場調查資料分析與報告撰寫'}, {'code': '11005004009', 'description': '市場趨勢分析'}, {'code': '11005004006', 'description': '網站流量成效追蹤'}], 'certificate': [], 'driverLicense': [], 'other': '- 2年以上數據分析相關工作經驗\n- 具獨立作業能力\n- 具團隊合作經驗\n- 具有行銷自動化(MA)平台和實作經驗，尤佳\n- 具有數位廣告平台和廣告活動分析經驗，尤佳\n- 具有會員制、訂閱制服務或影視內容產業經驗，尤佳\n- 具有英語說、寫能力，尤佳'}      0
{'tag': ['年終獎金', '三節獎金/禮品', '零食櫃', '咖啡吧', '結婚禮金', '員工進修補助', '部門聚餐', '慶生會', '下午茶', '電影觀賞'], 'welfare': '★獎金：\n1.三節獎金\n2.年終績效獎金\n3.鼓勵員工之各項獎勵制度\n★各項補助：\n1.生日蛋糕\n2.喪葬慰問金\n3.教育訓練補助\n4.員工健康檢查\n★各項活動：\n1.春酒/聖誕派對、抽獎\n2.公司/員工聚餐/杰德電影夜等軟性活動\n3.研磨咖啡機、微波爐、電鍋和烤箱等設備，隨時補充的各國零食區、鮮奶、茶飲\n★彈性上下班及午休時間\n★輕鬆歡樂的工作環境、休憩呼吸空間\n\n~正職同仁享有以上福利制度', 'legalTag': ['週休二日', '家庭照顧假', '勞保', '健保', '陪產假', '產假', '特別休假', '女性生理假', '勞退提撥金', '產檢假', '防疫照顧假', '員工體檢', '職災保險']}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0
暫不提供                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   0
dtype: int64

### 工作時段太多Null值，刪除該欄位

In [17]:
df.drop(columns=['工作時段','工作型態','職務分類代碼','薪資上限','福利制度'],inplace=True)

KeyError: "['工作時段', '工作型態', '職務分類代碼', '薪資上限', '福利制度'] not found in axis"

In [ ]:
df['薪資下限']=df['薪資下限'].replace(0,40000)    #將面議的改成法規規定最低40000
df=df[df['薪資下限']>=1000]     #將時薪(非正職、學生實習)的資料去除

In [ ]:
df.shape

(350, 15)

In [ ]:
df['major']

0      ['數理統計相關', '其他數學及電算機科學相關', '工業工程相關']
1            ['統計學相關', '資訊管理相關', '大眾傳播學相關']
2                  ['數學及電算機科學學科類', '工程學科類']
3            ['一般商業學類', '醫藥工程相關', '數理統計相關']
4                                        []
                       ...
356                     ['統計學相關', '數理統計相關']
357            ['經濟學相關', '會計學相關', '財稅金融相關']
358            ['資訊管理相關', '統計學相關', '經濟學相關']
359                ['數學及電算機科學學科類', '統計學相關']
360    ['資訊管理相關', '資訊工程相關', '其他數學及電算機科學相關']
Name: major, Length: 350, dtype: object

In [ ]:
import ast # 導入 ast 模組
df["是否要求特定major"] = df['major'].apply(lambda x: 1 if len(ast.literal_eval(x)) > 0 else 0)
df.drop(columns="major",inplace=True)

In [ ]:
df['是否要求特定major'].tail(20)

340    0
341    1
342    0
343    0
344    1
345    1
346    1
347    0
348    1
350    0
351    0
352    0
353    0
354    0
355    0
356    1
357    1
358    1
359    1
360    1
Name: 是否要求特定major, dtype: int64

In [ ]:
df['是否遠距'].value_counts()

是否遠距
0    320
2     27
1      3
Name: count, dtype: int64

In [ ]:
df['是否遠距'] = df['是否遠距'].astype(int)

In [ ]:
remote_work={0:"無遠距",1:"完全遠距",2:"混和"}
df['是否遠距']=df['是否遠距'].map(remote_work)

In [ ]:
df.head()

,上架日期,申請人數,產業,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major
0,20250709,10,家用電器製造業,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1
1,20250714,1,廣告行銷公關業,創浪行銷顧問有限公司,數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...,台北市,數據分析經理,14724608,25.034500,121.560053,"[4, 5, 6]",無遠距,40000,0,1
2,20250708,6,電腦系統整合服務業,艾捷科技有限公司,我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n 解讀數據...,台中市,數據分析師,14437328,24.148053,120.645606,"[4, 5]",無遠距,40000,1,1
3,20250625,9,工商顧問服務業,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,14079349,25.053372,121.522852,"[2, 3, 4, 5, 6]",無遠距,50000,1,1
4,20250714,10,電腦軟體服務業,不晚科技有限公司,1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...,台北市,數據分析,14325959,25.076077,121.575436,"[3, 4]",無遠距,40000,1,0

In [ ]:
df[df["工作編號"].duplicated()]

,上架日期,申請人數,產業,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major
69,20250709,10,家用電器製造業,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1
269,20250708,18,光電產業,達興材料股份有限公司,1. 執行AI技術開發專案。\n2. 大數據分析與建模。\n3. 舉辦內部統計與數值分析的教...,台中市,研發-資料科學研究員,13634345,24.204932,120.607608,"[5, 6]",無遠距,40000,0,1

In [ ]:
df[df["工作編號"].isin([14720195,13634345])]

,上架日期,申請人數,產業,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major
0,20250709,10,家用電器製造業,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1
69,20250709,10,家用電器製造業,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1
268,20250708,18,光電產業,達興材料股份有限公司,1. 執行AI技術開發專案。\n2. 大數據分析與建模。\n3. 舉辦內部統計與數值分析的教...,台中市,研發-資料科學研究員,13634345,24.204932,120.607608,"[5, 6]",無遠距,40000,0,1
269,20250708,18,光電產業,達興材料股份有限公司,1. 執行AI技術開發專案。\n2. 大數據分析與建模。\n3. 舉辦內部統計與數值分析的教...,台中市,研發-資料科學研究員,13634345,24.204932,120.607608,"[5, 6]",無遠距,40000,0,1

In [ ]:
df.drop_duplicates(subset="工作編號",keep="first",inplace=True)  #保留第一個

In [ ]:
df.set_index("工作編號")

,上架日期,申請人數,產業,公司名稱,description,縣市,職稱,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major
工作編號,,,,,,,,,,,,,,
14720195,20250709,10,家用電器製造業,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,25.068090,121.455088,[4],無遠距,38000,0,1
14724608,20250714,1,廣告行銷公關業,創浪行銷顧問有限公司,數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...,台北市,數據分析經理,25.034500,121.560053,"[4, 5, 6]",無遠距,40000,0,1
14437328,20250708,6,電腦系統整合服務業,艾捷科技有限公司,我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n 解讀數據...,台中市,數據分析師,24.148053,120.645606,"[4, 5]",無遠距,40000,1,1
14079349,20250625,9,工商顧問服務業,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,25.053372,121.522852,"[2, 3, 4, 5, 6]",無遠距,50000,1,1
14325959,20250714,10,電腦軟體服務業,不晚科技有限公司,1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...,台北市,數據分析,25.076077,121.575436,"[3, 4]",無遠距,40000,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12828775,20250710,50,其它軟體及網路相關業,遊戲橘子數位科技股份有限公司,此為橘子集團旗下的行動支付服務品牌， 全面推廣電子支付的服務版圖。我們致力推廣電子支付應用範...,台北市,數據分析師,25.071724,121.576463,"[3, 4, 5]",無遠距,40000,1,1
14676852,20250710,9,其他半導體相關業,怡凡得股份有限公司,1. Lead the reconciliation and validation in f...,新北市,Global Finance Data Analyst,25.058571,121.458476,"[4, 5]",無遠距,40000,1,1
14516906,20250714,13,電腦系統整合服務業,陣列科技有限公司,主責參與資料分析專案、建置儀錶板，協助使用者從資料中獲取洞察結果，落實數據驅動決策，持續優化...,台北市,外商（FMCG）資料分析人員,25.040920,121.572006,"[3, 4, 5]",無遠距,40000,1,1
14098922,20250709,13,其它軟體及網路相關業,博晶醫電股份有限公司,工作職責：\n1. 數據分析與質量控制：\n ‧ 監控算法在不同訊號環境中的表現...,新北市,資料分析工程師,24.984257,121.540141,"[4, 5]",無遠距,40000,1,1
14503383,20250709,6,網際網路相關業,伊雲谷數位科技股份有限公司,我們是伊雲谷的Billing團隊，負責自行研發帳務管理平台，利用伊雲谷多年來服務跨國近千家企...,新北市,<Billing>Data Engineer | CBU_10_02,25.077486,121.485600,"[4, 5, 6]",無遠距,40000,1,1

In [ ]:
from cleaning_industry import clean_industry_column
df=clean_industry_column(df)
df.drop(columns=["產業"],inplace=True)

In [ ]:
df["八大產業"].value_counts()

八大產業
資訊科技業       101
服務與專業顧問業     76
金融與保險業       62
製造業          50
批發與零售業       34
醫療與健康照護      12
觀光與餐飲業        6
運輸與物流業        5
其他            2
Name: count, dtype: int64

In [ ]:
df.head()

,上架日期,申請人數,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major,八大產業
0,20250709,10,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1,製造業
1,20250714,1,創浪行銷顧問有限公司,數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...,台北市,數據分析經理,14724608,25.034500,121.560053,"[4, 5, 6]",無遠距,40000,0,1,服務與專業顧問業
2,20250708,6,艾捷科技有限公司,我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n 解讀數據...,台中市,數據分析師,14437328,24.148053,120.645606,"[4, 5]",無遠距,40000,1,1,資訊科技業
3,20250625,9,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,14079349,25.053372,121.522852,"[2, 3, 4, 5, 6]",無遠距,50000,1,1,服務與專業顧問業
4,20250714,10,不晚科技有限公司,1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...,台北市,數據分析,14325959,25.076077,121.575436,"[3, 4]",無遠距,40000,1,0,資訊科技業

In [ ]:
df

,上架日期,申請人數,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major,八大產業
0,20250709,10,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,[4],無遠距,38000,0,1,製造業
1,20250714,1,創浪行銷顧問有限公司,數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...,台北市,數據分析經理,14724608,25.034500,121.560053,"[4, 5, 6]",無遠距,40000,0,1,服務與專業顧問業
2,20250708,6,艾捷科技有限公司,我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n 解讀數據...,台中市,數據分析師,14437328,24.148053,120.645606,"[4, 5]",無遠距,40000,1,1,資訊科技業
3,20250625,9,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,14079349,25.053372,121.522852,"[2, 3, 4, 5, 6]",無遠距,50000,1,1,服務與專業顧問業
4,20250714,10,不晚科技有限公司,1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...,台北市,數據分析,14325959,25.076077,121.575436,"[3, 4]",無遠距,40000,1,0,資訊科技業
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356,20250710,50,遊戲橘子數位科技股份有限公司,此為橘子集團旗下的行動支付服務品牌， 全面推廣電子支付的服務版圖。我們致力推廣電子支付應用範...,台北市,數據分析師,12828775,25.071724,121.576463,"[3, 4, 5]",無遠距,40000,1,1,資訊科技業
357,20250710,9,怡凡得股份有限公司,1. Lead the reconciliation and validation in f...,新北市,Global Finance Data Analyst,14676852,25.058571,121.458476,"[4, 5]",無遠距,40000,1,1,製造業
358,20250714,13,陣列科技有限公司,主責參與資料分析專案、建置儀錶板，協助使用者從資料中獲取洞察結果，落實數據驅動決策，持續優化...,台北市,外商（FMCG）資料分析人員,14516906,25.040920,121.572006,"[3, 4, 5]",無遠距,40000,1,1,資訊科技業
359,20250709,13,博晶醫電股份有限公司,工作職責：\n1. 數據分析與質量控制：\n ‧ 監控算法在不同訊號環境中的表現...,新北市,資料分析工程師,14098922,24.984257,121.540141,"[4, 5]",無遠距,40000,1,1,資訊科技業
360,20250709,6,伊雲谷數位科技股份有限公司,我們是伊雲谷的Billing團隊，負責自行研發帳務管理平台，利用伊雲谷多年來服務跨國近千家企...,新北市,<Billing>Data Engineer | CBU_10_02,14503383,25.077486,121.485600,"[4, 5, 6]",無遠距,40000,1,1,資訊科技業

In [ ]:
df["學歷要求"].value_counts()

學歷要求
[4, 5, 6]             117
[4, 5]                102
[3, 4, 5, 6]           34
[1, 2, 3, 4, 5, 6]     25
[3, 4, 5]              17
[4]                    14
[5]                    12
[5, 6]                  9
[3, 4]                  8
[2, 3, 4, 5, 6]         7
[2, 3, 4, 5]            1
[2, 3, 4]               1
[6]                     1
Name: count, dtype: int64

In [ ]:
edu_map = {
            1: '不拘',
            2: '高中',
            3: '專科',
            4: '大學',
            5: '碩士',
            6: '博士',
        }
df['學歷要求']=df['學歷要求'].apply(lambda x:edu_map.get(min(ast.literal_eval(x))))

In [ ]:
df.head()

,上架日期,申請人數,公司名稱,description,縣市,職稱,工作編號,經度,緯度,學歷要求,是否遠距,薪資下限,是否積極徵才,是否要求特定major,八大產業
0,20250709,10,金筆企業股份有限公司,1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...,新北市,數據分析工程師,14720195,25.068090,121.455088,大學,無遠距,38000,0,1,製造業
1,20250714,1,創浪行銷顧問有限公司,數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...,台北市,數據分析經理,14724608,25.034500,121.560053,大學,無遠距,40000,0,1,服務與專業顧問業
2,20250708,6,艾捷科技有限公司,我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n 解讀數據...,台中市,數據分析師,14437328,24.148053,120.645606,大學,無遠距,40000,1,1,資訊科技業
3,20250625,9,世銳顧問有限公司,題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...,台北市,商業數據分析師,14079349,25.053372,121.522852,高中,無遠距,50000,1,1,服務與專業顧問業
4,20250714,10,不晚科技有限公司,1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...,台北市,數據分析,14325959,25.076077,121.575436,專科,無遠距,40000,1,0,資訊科技業

In [ ]:
#暫時匯出
#desktop_path = os.path.join(os.path.expanduser("~"), "Desktop", "暫時匯出查看.csv")
#df.to_csv(desktop_path, index=False, encoding='utf-8-sig')