### 匯入套件

In [45]:
import pandas as pd
import numpy as np
import os


### 匯入檔案

In [46]:
current_dir = os.getcwd()
input_path=os.path.join(current_dir,r"../../data/104_cleaned_0714.csv")

df=pd.read_csv(input_path)
print(df.head())

       上架日期  申請人數         產業        公司名稱  \
0  20250709    10    家用電器製造業  金筆企業股份有限公司
1  20250714     1    廣告行銷公關業  創浪行銷顧問有限公司
2  20250708     6  電腦系統整合服務業    艾捷科技有限公司
3  20250625     9    工商顧問服務業    世銳顧問有限公司
4  20250714    10    電腦軟體服務業    不晚科技有限公司

                                         description   縣市       職稱      工作編號  \
0  1. 工廠生產數據收集、整理與分析，協助相關人員了解生產狀況\n2. 建立分析指標，追蹤並記...  新北市  數據分析工程師  14720195
1  數據分析工具監測社群媒體、論壇、新聞平台，定期監控社群輿情。\n\n2.消費者洞察: 掌握潛...  台北市   數據分析經理  14724608
2  我們正在尋找身懷絕技的【數據分析師】加入我們的團隊\n\n你的任務：\n\n    解讀數據...  台中市    數據分析師  14437328
3  題，為客戶提供具有價值的服務並且協助推動客戶的財務成長。服務內容包括：\n‧\t打造具有吸引...  台北市  商業數據分析師  14079349
4  1.熟練數據分析工具，能進行數據清理、分析和建模，分析市場營銷活動的效果，提供報告和改進建議...  台北市     數據分析  14325959

   工作型態         經度          緯度                                 major  \
0     1  25.068090  121.455088  ['數理統計相關', '其他數學及電算機科學相關', '工業工程相關']
1     0  25.034500  121.560053        ['統計學相關', '資訊管理相關', '大眾傳播學相關']
2     0  24.148053  120.645606              ['數學及電算機科學學科類', '工程學科類']
3     0  25.053372  121.522852        ['一般商業學類', '醫藥工程相關', '數理統計相關']
4     0  25.076077  121.575436                                    []

              學歷要求  是否遠距     薪資上限   薪資下限         工作時段  \
0              [4]     0  9999999  38000          NaN
1        [4, 5, 6]     0        0      0          NaN
2           [4, 5]     0        0      0  09:00~18:00
3  [2, 3, 4, 5, 6]     0    60000  50000          NaN
4           [3, 4]     0        0      0          NaN

                                 職務分類代碼  是否積極徵才
0  [2007001022, 2009001003, 2007001009]       0
1                          [2007001018]       0
2  [2007001018, 2007001022, 2007001021]       1
3  [2007001021, 2007001018, 2004003006]       1
4  [2007001018, 2016001007, 2004001010]       1

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   上架日期         361 non-null    int64
 1   申請人數         361 non-null    int64
 2   產業           361 non-null    object
 3   公司名稱         361 non-null    object
 4   description  361 non-null    object
 5   縣市           361 non-null    object
 6   職稱           361 non-null    object
 7   工作編號         361 non-null    int64
 8   工作型態         361 non-null    int64
 9   經度           361 non-null    float64
 10  緯度           361 non-null    float64
 11  major        361 non-null    object
 12  學歷要求         361 non-null    object
 13  是否遠距         361 non-null    int64
 14  薪資上限         361 non-null    int64
 15  薪資下限         361 non-null    int64
 16  工作時段         131 non-null    object
 17  職務分類代碼       361 non-null    object
 18  是否積極徵才       361 non-null    int64
dtypes: float64(2), int64(8), object(9)
memory usage: 53.7+ KB

In [48]:
df.isnull().sum()

上架日期             0
申請人數             0
產業               0
公司名稱             0
description      0
縣市               0
職稱               0
工作編號             0
工作型態             0
經度               0
緯度               0
major            0
學歷要求             0
是否遠距             0
薪資上限             0
薪資下限             0
工作時段           230
職務分類代碼           0
是否積極徵才           0
dtype: int64

### 工作時段太多Null值，刪除該欄位

In [49]:
df.drop(columns=['工作時段','工作型態'],inplace=True)

In [50]:
df['薪資下限']=df['薪資下限'].replace(0,40000)    #將面議的改成法規規定最低40000
df=df[df['薪資下限']>=1000]     #將時薪(非正職、學生實習)的資料去除

In [51]:
df.shape

(350, 17)

In [52]:
df['major']

0      ['數理統計相關', '其他數學及電算機科學相關', '工業工程相關']
1            ['統計學相關', '資訊管理相關', '大眾傳播學相關']
2                  ['數學及電算機科學學科類', '工程學科類']
3            ['一般商業學類', '醫藥工程相關', '數理統計相關']
4                                        []
                       ...
356                     ['統計學相關', '數理統計相關']
357            ['經濟學相關', '會計學相關', '財稅金融相關']
358            ['資訊管理相關', '統計學相關', '經濟學相關']
359                ['數學及電算機科學學科類', '統計學相關']
360    ['資訊管理相關', '資訊工程相關', '其他數學及電算機科學相關']
Name: major, Length: 350, dtype: object

In [53]:
import ast # 導入 ast 模組
df["是否要求特定major"] = df['major'].apply(lambda x: 1 if len(ast.literal_eval(x)) > 0 else 0)

In [54]:
df['是否要求特定major'].tail(20)

340    0
341    1
342    0
343    0
344    1
345    1
346    1
347    0
348    1
350    0
351    0
352    0
353    0
354    0
355    0
356    1
357    1
358    1
359    1
360    1
Name: 是否要求特定major, dtype: int64